.header{
    padding: 10px;
    text-align: left;
    background: #8CADA7;
    color: white;
    font-size: 16px;
}

.h{
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    margin: 0 -5px;  
}

.row:after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
}

.card{
    margin-left: 25px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(145, 145, 145, 0.1);
    width: 210px;
    height: 180px;
    border-radius: 10px;
}

.card__info{
    margin-left: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(145, 145, 145, 0.1);
    width: 685px;
    height: 230px;
    border-radius: 10px;
}
  
.input{
    border: none;
    color: black;
    background-color: #f5f5f5;
    height: 30px;
    width: 120px;
    border-radius: 4px;
    text-align: right;
    font-size: 12px;
}

.button{
    background-color: #A5D0A8;
    border: none;
    color: white;
    height: 32px;
    width: 120px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    margin: 2px;
}

.button:hover{
    background-color: #b3b3b3;
    color: white;
}

.image{
    float: left;
    height: 150px;
    width: 150px;
    margin-left: 15px;
}

img[src=""] {
    display: none;
}